<h1><%= @user.name %>のお気に入り一覧</h1>

<ul class="media-list">
  <% @likes.each do |like| %>
    <li class="media">
      <div class="media-body">
        <div>
          <%= link_to User.find(like.user_id).name, user_path(User.find(like.user_id)) %> <span class="text-muted">posted at <%= User.find(like.user_id).created_at %></span>
          <p><%= like.content %></p>
          <p><%= render 'favorites/favorite_button', micropost: like %></p>
        </div>
      </div>
    </li>
  <% end %>
</ul>